absl-py==1.4.0
appdirs==1.4.4
astunparse==1.6.3
audioread==3.0.0
bitarray==2.8.1
blinker==1.4
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
command-not-found==0.3
contourpy==1.1.0
cryptography==3.4.8
cycler==0.11.0
dbus-python==1.2.18
decorator==5.1.1
distro==1.7.0
distro-info===1.1build1
dm-tree==0.1.8
flatbuffers==23.5.26
fonttools==4.41.1
gast==0.4.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.56.2
h5py==3.9.0
httplib2==0.20.2
idna==3.4
importlib-metadata==4.6.4
jax==0.4.14
jeepney==0.7.1
joblib==1.3.1
keras==2.12.0
keras-tuner==1.3.5
keyring==23.5.0
kiwisolver==1.4.4
kt-legacy==1.0.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.3
libclang==16.0.6
librosa==0.10.0.post2
llvmlite==0.40.1
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.7.2
ml-dtypes==0.2.0
more-itertools==8.10.0
msgpack==1.0.5
netifaces==0.11.0
networkx==3.1
numba==0.57.1
numpy==1.24.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.2.4.5
nvidia-cuda-runtime-cu12==12.2.128
nvidia-cudnn-cu11==8.6.0.163
nvidia-cudnn-cu12==8.9.2.26
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==23.1
parse==1.6.5
Pillow==10.0.0
pooch==1.6.0
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyGObject==3.42.1
PyJWT==2.3.0
pyparser==1.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
PyYAML==5.4.1
QKeras==0.9.0
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.3.0
scipy==1.11.1
SecretStorage==3.3.1
six==1.16.0
soundfile==0.12.1
soxr==0.3.5
systemd-python==234
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.1
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-model-optimization==0.7.5
tensorrt-bindings==8.6.1
tensorrt-libs==8.6.1
termcolor==2.3.0
threadpoolctl==3.2.0
tqdm==4.65.0
typing_extensions==4.5.0
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.16
wadllib==1.3.6
Werkzeug==2.3.6
wrapt==1.14.1
zipp==1.0.0
