__pycache__/
 *.pyc
 *.npy
/python_quantization/cnn_rnn/feature_extracted/BAD_wblr_feature.npy
/python_quantization/cnn_rnn/test_data/ff1010bird_feature.npy
*.wav
/1_vitis_hls/cnn_rnn/.vitis_hls_log_all.xml
/1_vitis_hls/cnn_rnn/cnn_rnn/.autopilot
/1_vitis_hls/cnn_rnn/cnn_rnn/cnn_rnn.log
/1_vitis_hls/cnn_rnn/cnn_rnn/csim/build
/1_vitis_hls/cnn_rnn/cnn_rnn/csim/report
/1_vitis_hls/vitis_hls.log
/1_vitis_hls/cnn_rnn/.apc
/python_quantization/cnn_rnn/dump_io
/python_quantization/cnn_rnn/train_notebook.ipynb
/python_quantization/cnn_rnn/dump_io__channel_last/
/python_quantization/cnn_rnn/model_json__channel_last/
/python_quantization/cnn_rnn/model_json/
/playground/C_playground/GRU/.vs/
/playground/C_playground/GRU/GRU/x64/
/playground/C_playground/GRU/x64/
*.h5
/playground/python_playground/gru/debug_sigmoid_r_input.txt
/playground/python_playground/gru/debug_sigmoid_r_output.txt
/playground/python_playground/gru/debug_sigmoid_z_input.txt
/playground/python_playground/gru/debug_sigmoid_z_output.txt
/playground/python_playground/gru/debug_tanh_hh_input.txt
/playground/python_playground/gru/debug_tanh_hh_output.txt
/1_vitis_hls/cnn_rnn/.apc/
/1_vitis_hls/cnn_rnn/.settings/
/1_vitis_hls/cnn_rnn/cnn_rnn/impl/
/1_vitis_hls/cnn_rnn/cnn_rnn/.autopilot/
/playground/C_playground/.vs
/playground/C_playground/Conv2D/x64/
/playground/C_playground/x64/
/playground/C_playground/microfaune_c/x64/
/1_vitis_hls/cnn_rnn/.settings/cnn_rnn.Debug.launch
/1_vitis_hls/cnn_rnn/cnn_rnn/.debug
/1_vitis_hls/cnn_rnn/cnn_rnn/.autopilot/
/1_vitis_hls/cnn_rnn/cnn_rnn/.vscode/
/1_vitis_hls/cnn_rnn/cnn_rnn/csim/
/1_vitis_hls/cnn_rnn/cnn_rnn/syn/
/1_vitis_hls/cnn_rnn/.vscode/
/1_vitis_hls/cnn_rnn/.settings
/1_vitis_hls/log_tests/
/0_quantization/dump_io__channel_last/
/0_quantization/model_dump/
/0_quantization/model_json__channel_last/
/0_quantization/model_json/
/0_quantization/dump_io/
/0_quantization/tflite_models/
/0_quantization/feature_extracted/
/1_vitis_hls/cnn_rnn/.apc/
/1_vitis_hls/cnn_rnn/cnn_rnn/test_bench/bin_weights/
/1_vitis_hls/cnn_rnn/cnn_rnn/cnn_rnn_data.json
/1_vitis_hls/microfaune_ai/.apc
/1_vitis_hls/microfaune_ai/.settings
/1_vitis_hls/microfaune_ai/.vitis_hls_log_all.xml
/1_vitis_hls/microfaune_ai/algorithm/.autopilot/
/1_vitis_hls/microfaune_ai/algorithm/csim/build/
/1_vitis_hls/microfaune_ai/algorithm/csim/report/
/1_vitis_hls/microfaune_ai/algorithm/algorithm.log
/1_vitis_hls/microfaune_ai/test_bench/bin_weights/
/1_vitis_hls/microfaune_ai/.vs/
/1_vitis_hls/microfaune_ai/x64/
/1_vitis_hls/microfaune_ai/Debug/
*.dmp
*.log
/1_vitis_hls/microfaune_ai/algorithm/.debug/
