__pycache__/
 *.pyc
 *.npy
/python_quantization/cnn_rnn/feature_extracted/BAD_wblr_feature.npy
/python_quantization/cnn_rnn/test_data/ff1010bird_feature.npy
*.wav
/1_vitis_hls/cnn_rnn/.vitis_hls_log_all.xml
/1_vitis_hls/cnn_rnn/cnn_rnn/.autopilot
/1_vitis_hls/cnn_rnn/cnn_rnn/cnn_rnn.log
/1_vitis_hls/cnn_rnn/cnn_rnn/csim/build
/1_vitis_hls/cnn_rnn/cnn_rnn/csim/report
/1_vitis_hls/vitis_hls.log
/1_vitis_hls/cnn_rnn/.apc
/python_quantization/cnn_rnn/dump_io
/python_quantization/cnn_rnn/train_notebook.ipynb
/python_quantization/cnn_rnn/dump_io__channel_last/
/python_quantization/cnn_rnn/model_json__channel_last/
/python_quantization/cnn_rnn/model_json/
