__pycache__/
 *.pyc
 *.npy
/python_quantization/cnn_rnn/feature_extracted/BAD_wblr_feature.npy
/python_quantization/cnn_rnn/test_data/ff1010bird_feature.npy
*.wav
/1_vitis_hls/cnn_rnn/.vitis_hls_log_all.xml
/1_vitis_hls/cnn_rnn/cnn_rnn/.autopilot
/1_vitis_hls/cnn_rnn/cnn_rnn/cnn_rnn.log
/1_vitis_hls/cnn_rnn/cnn_rnn/csim/build
/1_vitis_hls/cnn_rnn/cnn_rnn/csim/report
/1_vitis_hls/vitis_hls.log
/1_vitis_hls/cnn_rnn/.apc
/python_quantization/cnn_rnn/dump_io
/python_quantization/cnn_rnn/train_notebook.ipynb
/python_quantization/cnn_rnn/dump_io__channel_last/
/python_quantization/cnn_rnn/model_json__channel_last/
/python_quantization/cnn_rnn/model_json/
/playground/C_playground/GRU/.vs/
/playground/C_playground/GRU/GRU/x64/
/playground/C_playground/GRU/x64/
/playground/python_playground/gru/debug_sigmoid_r_input.txt
/playground/python_playground/gru/debug_sigmoid_r_output.txt
/playground/python_playground/gru/debug_sigmoid_z_input.txt
/playground/python_playground/gru/debug_sigmoid_z_output.txt
/playground/python_playground/gru/debug_tanh_hh_input.txt
/playground/python_playground/gru/debug_tanh_hh_output.txt
/1_vitis_hls/cnn_rnn/.apc/
/1_vitis_hls/cnn_rnn/.settings/
/1_vitis_hls/cnn_rnn/cnn_rnn/impl/
/1_vitis_hls/cnn_rnn/cnn_rnn/.autopilot/
/playground/C_playground/.vs
/playground/C_playground/Conv2D/x64/
/playground/C_playground/x64/
/playground/C_playground/microfaune_c/x64/
/1_vitis_hls/cnn_rnn/.settings/cnn_rnn.Debug.launch
/1_vitis_hls/cnn_rnn/cnn_rnn/.debug
/1_vitis_hls/cnn_rnn/cnn_rnn/.autopilot/
/1_vitis_hls/cnn_rnn/cnn_rnn/.vscode/
/1_vitis_hls/cnn_rnn/cnn_rnn/csim/
/1_vitis_hls/cnn_rnn/cnn_rnn/syn/
/1_vitis_hls/cnn_rnn/.vscode/
/1_vitis_hls/cnn_rnn/.settings
/1_vitis_hls/log_tests/
/0_quantization/dump_io__channel_last/
/0_quantization/model_dump/
/0_quantization/model_json__channel_last/
/0_quantization/model_json/
/0_quantization/dump_io/
/0_quantization/tflite_models/
/0_quantization/feature_extracted/
/1_vitis_hls/cnn_rnn/.apc/
/1_vitis_hls/cnn_rnn/cnn_rnn/test_bench/bin_weights/
/1_vitis_hls/cnn_rnn/cnn_rnn/cnn_rnn_data.json
/1_vitis_hls/microfaune_ai/.apc
/1_vitis_hls/microfaune_ai/.settings
/1_vitis_hls/microfaune_ai/.vitis_hls_log_all.xml
/1_vitis_hls/microfaune_ai/algorithm/.autopilot/
/1_vitis_hls/microfaune_ai/algorithm/csim/build/
/1_vitis_hls/microfaune_ai/algorithm/csim/report/
/1_vitis_hls/microfaune_ai/algorithm/algorithm.log
/1_vitis_hls/microfaune_ai/test_bench/bin_weights/
/1_vitis_hls/microfaune_ai/.vs/
/1_vitis_hls/microfaune_ai/x64/
/1_vitis_hls/microfaune_ai/Debug/
*.dmp
*.log
/1_vitis_hls/microfaune_ai/algorithm/.debug/
/1_vitis_hls/microfaune_ai/algorithm/impl/
/1_vitis_hls/microfaune_ai/algorithm/syn
/0_quantization/dump_io_quantized_BACKUP/
/0_quantization/features_inout
/0_quantization/model_dump__BACKUP/
/0_quantization/model_quantized__BACKUP/
/0_quantization/model_quantized_weights
/0_quantization/dump_io_quantized/
/0_quantization/model_quantized_weights_float/
/0_quantization/dump_io_quantized_config0noQuantState/
/0_quantization/model_dump_quantized/
/0_quantization/model_quantized_weights_config_0_noQuant/
/0_quantization/debug_small_microfaune/model_debug_dump_io_quantized/
/0_quantization/debug_small_microfaune/model_debug_dump_quantized/
/0_quantization/debug_small_microfaune_bgru/model_debug_dump_io_quantized/
/0_quantization/debug_small_microfaune_bgru/model_debug_dump_quantized/
/0_quantization/debug_small_microfaune_bgru_dual/model_debug_dump_io_quantized/
/0_quantization/debug_small_microfaune_bgru_dual/model_debug_dump_quantized/
/0_quantization/debug_small_microfaune_bgru/model_debug/
/0_quantization/debug_small_microfaune_bgru_dual/model_debug/
/0_quantization/debug_small_microfaune_conv0/
/0_quantization/debug_small_microfaune_conv0_HLS/
/0_quantization/debug_small_microfaune_gru_HLS/
/0_quantization/debug_small_microfaune_gru_HLS__v2/
/0_quantization/dump_io_quantized__nopad/
/0_quantization/dump_io_quantized__padding_input/
/0_quantization/dump_io_quantized_before_inputReLu/
/0_quantization/model_quantized_weights__saved_with_TF/
/0_quantization/model_quantized_weights_TEMP/
/0_quantization/qkeras_GITHUB/
/1_vitis_hls/microfaune_ai__aGRU_dev/
/1_vitis_hls/microfaune_ai__beforeHLS/
/1_vitis_hls/microfaune_ai__gruCells1/algorithm/
/1_vitis_hls/microfaune_ai__HLS_old/
/1_vitis_hls/microfaune_ai__preQmanual/
/1_vitis_hls/microfaune_ai__smallDebug/
/1_vitis_hls/microfaune_ai__smallDebug_bigru/
/1_vitis_hls/microfaune_ai__gruCells1/.vscode/
/1_vitis_hls/microfaune_ai__gruCells1/source/weights - gru_float/
/1_vitis_hls/microfaune_ai__gruCells1__GRUFLOAT/
/1_vitis_hls/microfaune_ai__gruCells1__hardcodedWeights/.settings/
/1_vitis_hls/microfaune_ai__gruCells1__hardcodedWeights/algorithm/
/0_quantization/z_model_quantized/
/0_quantization/z_plots/
/1_vitis_hls/microfaune_ai__gruCells1__hardcodedWeights/.apc/
/1_vitis_hls/microfaune_ai__gruCells1__hardcodedWeights/.vscode/
/1_vitis_hls/microfaune_ai__gruCells1__hardcodedWeights/.cproject
/1_vitis_hls/microfaune_ai__gruCells1__hardcodedWeights/.project
/1_vitis_hls/microfaune_ai__gruCells1__hardcodedWeights/.vitis_hls_log_all.xml
/1_vitis_hls/microfaune_ai__gruCells1__smallTest/
/2_vivado/microfaune_ai__gruCells1__hardcodedWeights/microfaune_ai__gruCells1__hardcodedWeights.cache/
/2_vivado/microfaune_ai__gruCells1__hardcodedWeights/microfaune_ai__gruCells1__hardcodedWeights.runs/
/1_vitis_hls/mai__gC1_hcW/.apc/
/1_vitis_hls/mai__gC1_hcW/.settings/
/1_vitis_hls/mai__gC1_hcW/.vscode/
/1_vitis_hls/mai__gC1_hcW/algorithm/
/1_vitis_hls/mai__gC1_hcW/.vitis_hls_log_all.xml
/1_vitis_hls/mai__gC1_hcW/.cproject
/1_vitis_hls/mai__gC1_hcW/.project
/3_vitis/mai__gC1_hcW/.analytics
/3_vitis/mai__gC1_hcW/.metadata
/3_vitis/mai__gC1_hcW/RemoteSystemsTempFiles/
/3_vitis/microfaune_ai__gruCells1__hardcodedWeights/
/3_vitis/mai__gC1_hcW/microfaune_ai_system/_ide/
/3_vitis/mai__gC1_hcW/design_1_wrapper/psu_cortexa53_0/
/3_vitis/mai__gC1_hcW/design_1_wrapper/zynqmp_fsbl/
/3_vitis/mai__gC1_hcW/design_1_wrapper/zynqmp_pmufw/
/3_vitis/mai__gC1_hcW/design_1_wrapper/tempdsa/
/3_vitis/mai__gC1_hcW/design_1_wrapper/resources/
/3_vitis/mai__gC1_hcW/design_1_wrapper/hw/
/3_vitis/mai__gC1_hcW/design_1_wrapper/.cproject
/3_vitis/mai__gC1_hcW/design_1_wrapper/.project
/3_vitis/mai__gC1_hcW/microfaune_ai/.cproject
/3_vitis/mai__gC1_hcW/microfaune_ai/.gitignore
/3_vitis/mai__gC1_hcW/microfaune_ai/.project
/3_vitis/mai__gC1_hcW/microfaune_ai/_ide/bitstream/design_1_wrapper.bit
/3_vitis/mai__gC1_hcW/microfaune_ai/_ide/
/3_vitis/mai__gC1_hcW/microfaune_ai_system/.cproject
/3_vitis/mai__gC1_hcW/microfaune_ai_system/.gitignore
/3_vitis/mai__gC1_hcW/microfaune_ai_system/.project
/1_vitis_hls/mai__gC1_hcW_rnn/.apc/
/1_vitis_hls/mai__gC1_hcW_rnn/.settings/
/1_vitis_hls/mai__gC1_hcW_rnn/.vscode/
/1_vitis_hls/mai__gC1_hcW_rnn/algorithm/
/1_vitis_hls/mai__gC1_hcW_rnn/.vitis_hls_log_all.xml
/1_vitis_hls/mai__gC1_hcW_rnn/.cproject
/1_vitis_hls/mai__gC1_hcW_rnn/.project
/3_vitis/mai__gC1_hcW_rnn/.analytics
/3_vitis/mai__gC1_hcW_rnn/.metadata
/3_vitis/mai__gC1_hcW_rnn/RemoteSystemsTempFiles/
/3_vitis/mai__gC1_hcW_rnn/microfaune_ai_system/_ide/
/3_vitis/mai__gC1_hcW_rnn/design_1_wrapper/psu_cortexa53_0/
/3_vitis/mai__gC1_hcW_rnn/design_1_wrapper/zynqmp_fsbl/
/3_vitis/mai__gC1_hcW_rnn/design_1_wrapper/zynqmp_pmufw/
/3_vitis/mai__gC1_hcW_rnn/design_1_wrapper/tempdsa/
/3_vitis/mai__gC1_hcW_rnn/design_1_wrapper/resources/
/3_vitis/mai__gC1_hcW_rnn/design_1_wrapper/hw/
/3_vitis/mai__gC1_hcW_rnn/design_1_wrapper/.cproject
/3_vitis/mai__gC1_hcW_rnn/design_1_wrapper/.project
/3_vitis/mai__gC1_hcW_rnn/microfaune_ai/.cproject
/3_vitis/mai__gC1_hcW_rnn/microfaune_ai/.gitignore
/3_vitis/mai__gC1_hcW_rnn/microfaune_ai/.project
/3_vitis/mai__gC1_hcW_rnn/microfaune_ai/_ide/bitstream/design_1_wrapper.bit
/3_vitis/mai__gC1_hcW_rnn/microfaune_ai/_ide/
/3_vitis/mai__gC1_hcW_rnn/microfaune_ai_system/.cproject
/3_vitis/mai__gC1_hcW_rnn/microfaune_ai_system/.gitignore
/3_vitis/mai__gC1_hcW_rnn/microfaune_ai_system/.project
/3_vitis/mai__gC1_hcW_rnn/microfaune_gru/_ide/bitstream/design_1_wrapper.bit
/3_vitis/mai__gC1_hcW_rnn/microfaune_gru/_ide/hwspec.checksum
/3_vitis/mai__gC1_hcW_rnn/microfaune_gru/_ide/launch/Debugger_microfaune_gru-Default.launch
/3_vitis/mai__gC1_hcW_rnn/microfaune_gru/_ide/psinit/psu_init.tcl
/1_vitis_hls/mai__gC1_hcW/export/
/1_vitis_hls/mai__gC1_hcW/source/inputs/
/1_vitis_hls/mai__gC1_hcW_rnn/source/inputs/
/1_vitis_hls/mai__gC1_hcW_rnn/source/weights/
/1_vitis_hls/microfaune_ai__gruCells1__hardcodedWeights/source/inputs/
/1_vitis_hls/microfaune_ai__gruCells1__hardcodedWeights/source/weights/
/2_vivado/mai__gC1_hcW - x2_HPs
/2_vivado/mai__gC1_hcW/mai__gC1_hcW.cache/
/2_vivado/mai__gC1_hcW/mai__gC1_hcW.gen/
/playground/ARM_model/
/4_demo/vitis/.metadata/
/4_demo/vitis/design_1_wrapper/
